<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%var err; if(err){ %>
            <ul>
                <% for(var index=0;index < err.length; index++){ %>
                <li> <%= err[index].msg %> </li>
                <% } %>
            </ul>
        <%}%>   
    <form action="/novo_usuario/salvar" method="POST">
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" id="usuarioUsername"/>
        <br>
        <label for="pass">Password</label>
        <input type="password" name="pass" id="usuarioSenha"/>
        <br>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="usuarioEmail"/>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>