<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% var value = usuarios.length; %>
    <table>
        <tr>
            <th>username</th>
            <th>password</th>
            <th>email</th>
            <th>actions</th>
        </tr>
        <% for(var indice = 0; indice < value; indice++){ %>
        <tr>
            <td><%= usuarios[indice].usuario %> </td>
            <td><%= usuarios[indice].pass %> </td>
            <td><%= usuarios[indice].email %> </td>
            <td>
                <button value="">DEL</button>
                <button value="">EDIT</button>
                <button value="">BAN</button>
                <button value="">DES</button>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>