<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estoque</title>

    <link type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <header>
        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">INICIO</a>
            <a href="#news">COLABORADORES</a>
            <a href="#contact">CONTATO</a>
            <a href="#about">SOBRE</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
    <section>
        <article>
            
        </article>
    </section>
    <footer>

    </footer>
</body>
<script type="text/javascript" src="/js/menu-responsive.js"></script>
</html>